parameters:
    scanFiles:
        - IntelliSenseHelper.php
        - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../oxid-esales/oxideshop-ce/source/overridablefunctions.php
    paths:
        - ./
    level: 0
    phpVersion: 70200
    checkMissingIterableValueType: false
