parameters:
    scanFiles:
        - IntelliSenseHelper.php
        - ../../../../Shops/CE/6.1.x/616_/vendor/oxid-esales/oxideshop-ce/source/bootstrap.php
        - ../../../../Shops/CE/6.1.x/616_/vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../../../Shops/CE/6.1.x/616_/vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
    scanDirectories:
        - ../../../../Shops/CE/6.1.x/616_/vendor/oxid-esales
    ignoreErrors:
        - '#.*is not subtype of Throwable.*#'
    paths:
        - ./
    level: 4
    phpVersion: 70200
    checkMissingIterableValueType: false
